# dependencies
/node_modules

# Next.js
/.next
/out

# tests
/coverage

# TypeScript
*.tsbuildinfo

# local files
.DS_Store

# environment files
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
