# dependencies
/node_modules

# Next.js
/.next
/out

# test output
/coverage

# local files
.DS_Store
*.tsbuildinfo

# environment files
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
